# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env*

# Vector DB
faiss_index/
memory.db

# Node
node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store