@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #030712;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  background: #0B1117 !important;
}